.dog-traits-contents {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  justify-content: space-between; /* 상단, 하단 영역 분리 */
  position: relative;
  height: 100%; /* 부모 높이에 맞춤 */
  padding: 24px;
}
/* 그래프 영역 */
.graph-area {
  width: 100%; /* 전체 너비 */
  height: 100%;
  display: flex; /* 자식 요소 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 크기 계산 */
  margin-top: -24px;
}
.radar-graph {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 마지막 테스트 날짜 */
.test-date {
  width: 100%;
  text-align: right; /* 우측 정렬 */
  font-size: 12px;
  color: #666;
  margin-top: 12px;
  margin-bottom: 16px;
}

/* 상세 설명 */
.trait-details {
  background-color: #eeebee;
  border-radius: 5px;
  width: 100%; /* 부모 가로 폭에 맞춤 */
  height: 100px;
  font-size: 12px;
  font-weight: 500;
  color: #4e4b77;
  letter-spacing: 0.002;
  line-height: 1.5; /* 가독성을 위한 줄 간격 */
  margin-top: auto; /* 하단으로 밀어냄 */
  position: relative;
  padding: 12px;
}
